<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>[[++site_name]] - [[*pagetitle]]</title>
        <base href="[[++site_url]]"/>
    </head>
    <body>

    <div><strong>lorumIpsum with 20 words</strong></div>
    <div><pre>&#91;&#91;lorumIpsum? &words=`20`&#93;&#93;</pre></div>
    <div>[[lorumIpsum? &words=`20`]]</div>
    <div>&nbsp;</div>

    <div><strong>lorumIpsum with 3 paragraphs of 30 words</strong></div>
    <div><pre>&#91;&#91;lorumIpsum? &words=`30` &amp;paragraphs=`3`&#93;&#93;</pre></div>
    <div>[[lorumIpsum? &words=`30` &paragraphs=`3`]]</div>
    <div>&nbsp;</div>

    <div><strong>lorumIpsum with 3 paragraphs of 30 words separated by an HR tag</strong></div>
    <div><pre>&#91;&#91;lorumIpsum? &words=`30` &amp;paragraphs=`3` &separator=`<hr />`&#93;&#93;</pre></div>
    <div>[[lorumIpsum? &words=`30` &paragraphs=`3` &separator=`<hr />`]]</div>
    <div>&nbsp;</div>

    <div><strong>lorumIpsum with 10 words, or 40 characters</strong></div>
    <div><pre>&#91;&#91;lorumIpsum? &words=`10` &chars=`40` &debug=`0`&#93;&#93;</pre></div>
    <div>[[lorumIpsum? &words=`10` &chars=`40` &debug=`0`]]</div>
    <div>&nbsp;</div>

    </body>
</html>